header .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A57A17;
}
header .container-fluid .navbar-brand {
  display: flex;
  justify-content: left;
  padding-top: 10px;
  height: 50px;
}
header .container-fluid .navbar-nav {
  text-align: right;
}

.navbar {
  padding: 0;
}

.contenedorBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: black;
  color: #fff;
}
.contenedorBanner .contenedorDiv1 {
  margin: 10px auto;
  display: inline;
}
.contenedorBanner .contenedorDiv1 .divImg {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.contenedorBanner .contenedorDiv2 {
  margin: 10px auto;
  display: inline;
}
.contenedorBanner .contenedorDiv2 .divImg {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}
.contenedorBanner .contenedorDiv3 {
  margin: 10px auto;
  display: inline;
}
.contenedorBanner .contenedorDiv3 .divImg {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
}

.contenedorStickers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorStickers .contenedorImgs1 {
  margin-right: 15px;
}
.contenedorStickers .contenedorImgs1 .imgs {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px;
}
.contenedorStickers .contenedorImgs2 {
  margin-left: 15px;
}
.contenedorStickers .contenedorImgs2 .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 10px;
}

.banner {
  width: 100%;
  height: 100%;
  animation: banner 10s infinite linear alternate;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(https://img.freepik.com/foto-gratis/tablas-madera-tienda-ropa-borrosa-fondo_1253-47.jpg);
}
.banner .conocenos a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background: black;
  padding: 16px 37px;
  border-radius: 50px;
}

.info {
  z-index: 1;
  width: 100%;
  max-width: 550px;
  text-align: center;
  font-weight: bold;
}

.info h1 {
  color: black;
  font-size: 45px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.info p {
  color: black;
  line-height: 1.7;
  margin-bottom: 30px;
}

.contenedorFondo {
  position: relative;
  display: inline-block;
  width: 100%;
}
.contenedorFondo .imagenFondo {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.contenedorFondo .textoFondo {
  position: absolute;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #fff;
  font-size: medium;
  font-size: 35px;
}

.contenedorCombos {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("https://img.freepik.com/vector-premium/cliente-mujer-comprando-nuevo-bolso-mostrador-caja-moda-tienda-ropa-femenina-centro-comercial-moderno-boutique-interior-banner-horizontal_48369-28737.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedorCombos .hCombos {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: black;
  padding: 10px;
  border-radius: 5px;
}

.main {
  background-image: url(https://img.freepik.com/foto-gratis/tablas-madera-tienda-ropa-borrosa-fondo_1253-47.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

main .destacado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
main .contenedorDestacado {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
main .contenedorDestacado .card {
  width: 250px;
  margin: 10px;
  border: 3px solid black;
  margin: 15px;
}
main .card .cardImg {
  height: 300px;
  object-fit: cover;
}
main .card {
  transition: transform 0.3s;
}
main .card:hover {
  transform: scale(1.1);
}
main .btn {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  text-align: center;
  font-weight: bold;
  padding: 0.7em;
  border: 3px solid black;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: black;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}
main .btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: black;
  z-index: -1;
}
main .btn:hover, main .btn:focus {
  color: #fff;
}
main .btn:hover:before, main .btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
main .btn:active {
  transform: scale(0.9);
}

main .h1Catalogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
  transition: transform 0.3s;
}
main .contenedorImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
main .contenedorImg .card {
  width: 250px;
  margin: 10px;
  border: 3px solid black;
}

.h1Catalogo:hover {
  transform: scale(1.1);
}

.h1Combos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
  transition: transform 0.3s;
}

.h1Combos:hover {
  transform: scale(1.1);
}

.destacado {
  transition: transform 0.3s;
}

.destacado:hover {
  transform: scale(1.1);
}

.card-body h5 {
  text-decoration: underline;
}

.imagenSecciones {
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  margin-top: 150px;
}

.imagenSeccion {
  margin-top: 15px;
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid black;
  border-radius: 15px;
}

.imagenSeccionCaja {
  margin-top: 40px;
  position: relative;
  display: inline-block;
}

.imagenSeccionBtn {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.imagenBtn {
  position: relative;
  transition: transform 0.3s;
  margin-bottom: 40px;
}

.imagenBtn:hover {
  transform: scale(1.1);
}

.imagenSeccionBtn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.tituloSobreNosotros {
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 22ch;
  animation: typing 2s steps(12), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.parrafoSobreNosotros {
  position: absolute;
  text-align: center;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}

.contact-form {
  background-color: #A57A17;
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
}
.contact-form label {
  color: black;
  margin-bottom: 10px;
}
.contact-form .heading {
  font-size: 24px;
  color: black;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form button[type=submit] {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.contact-form button[type=submit]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.textarea {
  resize: none;
  height: 80px;
  width: 200px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px black;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contenedorSeccion {
  display: flex;
}

.contenedorMapa {
  width: 600px;
  height: 400px;
  margin-left: 20px;
}

.contenedorForm {
  width: 700px;
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  main .contenedorDestacado {
    place-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 890px) {
  main .contenedorDestacado {
    display: grid;
    place-items: center;
    width: 150px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 729px) {
  main .contenedorDestacado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  main .contenedorSeccion {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1200px) {
  main .contenedorImg {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 820px) {
  main .contenedorImg {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 540px) {
  main .contenedorImg {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1030px) {
  .contenedorStickers {
    display: grid;
    place-items: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 470px) {
  .contenedorStickers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  main .conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 25px;
    width: 25px;
  }
}
@media screen and (max-width: 360px) {
  main .conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 10px;
    width: 10px;
  }
}
@media screen and (max-width: 351px) {
  main .conocenos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 10px;
    width: 10px;
  }
}
@media screen and (max-width: 529px) {
  main footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .contenedorBanner {
    flex-direction: column;
  }
}
@media screen and (max-width: 815px) {
  .contenedorFondo .textoFondo {
    font-size: 25px;
  }
}
@media screen and (max-width: 420px) {
  .contenedorFondo .textoFondo {
    font-size: 15px;
  }
}
@media screen and (max-width: 1090px) {
  .contenedorForm {
    width: 100%;
    margin-right: 0;
  }
  .contenedorSeccion {
    flex-direction: column;
  }
  .contenedorMapa {
    width: 100%;
    height: 300px;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
  }
}
@media screen and (max-width: 1246px) {
  .imagenSeccionCaja {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1039px) {
  .imagenSeccionCaja {
    margin-top: 100px;
  }
}
@media screen and (max-width: 846px) {
  .imagenSecciones {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
@media screen and (max-width: 846px) {
  .parrafoSobreNosotros {
    display: none;
  }
}
@media screen and (max-width: 403px) {
  .imagenSeccion {
    width: 300px;
  }
}
footer {
  background-color: #A57A17;
}
footer .texto {
  display: block;
}
footer .redesSociales {
  display: flex;
  justify-content: end;
  align-items: end;
}
footer .redesSociales img {
  width: 55px;
  height: 55px;
  padding: 10px;
}
footer .encontranos {
  display: flex;
  justify-content: end;
  align-items: end;
}

/*# sourceMappingURL=estilo.css.map */
