main {
	.destacado {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	.contenedorDestacado {
		display: flex;
		justify-content: center;
		margin: 10px auto;
	}
    .contenedorDestacado {
        .card {
            width: 250px;
            margin: 10px;
            border: 3px solid $color-tit;
            
            margin: 15px;
        }
    }
    .card {
        .cardImg {
            height: 300px;
            object-fit: cover;
        }
    }

    .card {
        transition: transform 0.3s;
    }
    .card:hover {
        transform: scale(1.1); 
    }

    .btn {
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        font-weight: bold;
        padding: 0.7em;
        border: 3px solid $color-tit;
        border-radius: 2px;
        position: relative;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
        color: $color-tit;
        text-decoration: none;
        transition: 0.3s ease all;
        z-index: 1;
    }
    .btn:before {
        transition: 0.5s all ease;
		position: absolute;
		top: 0;
		left: 50%;
		right: 50%;
		bottom: 0;
		opacity: 0;
		content: '';
		background-color: $color-tit;
		z-index: -1;
    }
    .btn:hover, .btn:focus {
        color: $color-font;
    }
    .btn:hover:before, .btn:focus:before {
        transition: 0.5s all ease;
        left: 0;
        right: 0;
        opacity: 1;
    }
    .btn:active {
        transform: scale(0.9);
    }
}

main {
	.h1Catalogo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 25px;
        transition: transform 0.3s;
        background-color: $color-tit;
        color: $color-font;
	}
    .card {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin: 10px;
        border: 3px solid $color-tit;
        margin-bottom: 30px;
        margin-left: 20px;
        margin-right: 20px;
        height: auto;
    }
}
.contenedorImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 0 calc(25% - 10px);
}

.h1Catalogo {
    font-size: 35px;
}

.h1Catalogo:hover {
    transform: scale(1.1); 
}

.h1Combos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 25px;
    transition: transform 0.3s;
}

.h1Combos:hover {
    transform: scale(1.1); 
}

.destacado {
    transition: transform 0.3s;
}

.destacado:hover {
    transform: scale(1.1); 
}

.card-body {
    h5 {
        text-decoration: underline;
    }
}

.imagenSecciones {
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-content: center;
    margin-top: 150px;
}

.imagenSeccion {
    margin-top: 15px;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid $color-tit;
    border-radius: 15px;
}

.imagenSeccionCaja {
    margin-top: 40px;
    position: relative;
    display: inline-block;

}

.imagenSeccionBtn {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: $color-font; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.imagenBtn {
    position: relative;
    transition: transform 0.3s;
    margin-bottom: 40px;
}

.imagenBtn:hover {
    transform: scale(1.1); 
}

.imagenSeccionBtn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.tituloSobreNosotros {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%; 
    transform: translateX(-50%); 
    background: rgba(255, 255, 255, 0.8); 
    padding: 10px;
    border-radius: 10px;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 22ch;
    animation: typing 2s steps(12),blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0 ;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.parrafoSobreNosotros {
    position: absolute;
    text-align: center;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.h1Artistas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.parrafoArtistas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin-top: 0;
}

.contenedorPrincipal {
    display: flex;
    align-items: center;

    .contenedorImgModelo {
        flex: 1;
    }

    .imgModelo {
        border-radius: 10px;
        margin-left: 30px;
        object-fit: cover;
        max-width: 100%;
        height: auto;
    }

    .contenedorInfo {
        text-align: center;
        margin-right: 200px;
    }
}

.contenedorInfo h4,
.contenedorInfo p,
.contenedorInfo button {
    margin: 5px 0;
}

.contenedorInfo {
    p {
        align-items: center;
        text-align: center;
        font-size: 60px;
    }

    h4 {
        font-size: 30px;
    }
    .contenedorBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.contenedorPrincipal2 {
    display: flex;
    align-items: center;

    .contenedorInfo2 {
        flex: 1;
    }

    .contenedorBtn2 {
        text-align: left;
        margin-top: 10px;
    }
}

.contenedorInfo2 {
    p {
        align-items: center;
        text-align: center;
        font-size: 60px;
    }

    h4 {
        text-align: center;
        font-size: 30px;
    }
    .contenedorBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.imgMaria {
    border-radius: 10px;
    object-fit: cover;
    margin-right: 30px;
    width: 600px;
    height: 750px;
}

.contenedorPrincipal3 {
    display: flex;
    align-items: center;
    flex: 1;
}

.contenedorImgModelo {
    flex: 1;
}

.contenedorInfo3 {
    flex: 1;
    text-align: center;
    margin-right: 200px;

    p {
        align-items: center;
        text-align: center;
        font-size: 60px;
    }

    h4 {
        text-align: center;
        font-size: 30px;
    }
    .contenedorBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.imgLit {
    object-fit: cover;
    border-radius: 10px;
    margin-left: 30px;
    width: 600px;
    height: 750px;
}



