footer {
	background-color: $color-fondo;
	.texto {
		display: block;
	}
	.redesSociales {
		display: flex;
		justify-content: end;
		align-items: end;
		img {
			width: 55px;
			height: 55px;
			padding: 10px;
		}
	}
	.encontranos {
		display: flex;
		justify-content: end;
		align-items: end;
	}
}
