footer {
	background-color: #A57A17;
	.contactanos {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.redesSociales {
		display: flex;
		justify-content: end;
		align-items: end;
		img {
			width: 55px;
			height: 55px;
			padding: 10px;
			margin-right: 50px;
		}
	}
	.encontranos {
		display: flex;
		justify-content: end;
		align-items: end;
		margin-right: 35px;
	}
}