@media screen and (max-width: 1200px) {
    main { 
        .contenedorDestacado {
            place-items: center;
            grid-template-rows: 1fr 1fr; 
            grid-template-columns: 1fr 1fr 1fr; 
        }
    }
}

@media screen and (max-width: 890px) {
    main {
        .contenedorDestacado {
            display: grid;
            place-items: center;
            width: 150px;
            grid-template-rows: 1fr 1fr ; 
            grid-template-columns: 1fr 1fr; 
        }
    }
}

@media screen and (max-width: 729px) {
    main {
        .contenedorDestacado {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 980px) {
    main { 
        .contenedorSeccion {
            display: flex;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 1200px) {
    main { 
        .contenedorImg {
            display: grid;
            place-items: center;
            grid-template-rows: auto auto; 
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 820px) {
    main { 
        .contenedorImg {
            display: grid;
            place-items: center;
            grid-template-rows: auto auto auto; 
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 540px) {
    main { 
        .contenedorImg {
            display: grid;
            place-items: center;
            grid-template-rows: auto auto auto auto; 
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 1030px) { 
        .contenedorStickers {
            display: grid;
            place-items: center;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
        }
    
}

@media screen and (max-width: 470px) { 
        .contenedorStickers {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
}

@media screen and (max-width: 500px) {
    main { 
        .conocenos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            height: 25px;
            width: 25px;
        }
    }
}

@media screen and (max-width: 360px) {
    main { 
        .conocenos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            height: 10px;
            width: 10px;
        }
    }
}

@media screen and (max-width: 351px) {
    main { 
        .conocenos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            height: 10px;
            width: 10px;
        }
    }
}

@media screen and (max-width: 529px) {
    main { 
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .contenedorBanner {
        flex-direction: column;
    }
}

@media screen and (max-width: 815px) {
    .contenedorFondo {
        .textoFondo {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 420px) {
    .contenedorFondo {
        .textoFondo {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 740px) {
    .contenedorForm {
        max-width: 500px;
    }
}

@media screen and (max-width: 694px) {
    .contenedorForm {
        max-width: 300px;
    }
}

@media screen and (max-width: 536px) {
    .contenedorForm {
        max-width: 250px;
    }
}

@media screen and (max-width: 483px) {
    .contenedorForm {
        max-width: 150px;
    }
}

@media screen and (max-width: 380px) {
    .contenedorForm {
        max-width: 100px;
    }
}





