@media screen and (max-width: 1200px) {
    main { 
        .contenedorDestacado {
            place-items: center;
            grid-template-rows: 1fr 1fr; 
            grid-template-columns: 1fr 1fr 1fr; 
        }
    }
}

@media screen and (max-width: 890px) {
    main {
        .contenedorDestacado {
            display: grid;
            place-items: center;
            width: 150px;
            grid-template-rows: 1fr 1fr ; 
            grid-template-columns: 1fr 1fr; 
        }
    }
}

@media screen and (max-width: 729px) {
    main {
        .contenedorDestacado {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}


@media screen and (max-width: 980px) {
    main { 
        .contenedorSeccion {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1000px) {
    main { 
        .contenedorImg {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 890px) {
    main { 
        .contenedorImg {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
}

@media screen and (max-width: 729px) {
    main { 
        .contenedorImg {
            display: grid;
            place-items: center;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }
    }
}


@media screen and (max-width: 1030px) { 
        .contenedorStickers {
            display: grid;
            place-items: center;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
        }
    
}

@media screen and (max-width: 470px) { 
        .contenedorStickers {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
}

@media screen and (max-width: 500px) {
    main { 
        .conocenos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            height: 25px;
            width: 25px;
        }
    }
}

@media screen and (max-width: 360px) {
    main { 
        .conocenos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            height: 10px;
            width: 10px;
        }
    }
}

@media screen and (max-width: 351px) {
    main { 
        .conocenos {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            height: 10px;
            width: 10px;
        }
    }
}

@media screen and (max-width: 529px) {
    main { 
        footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .contenedorBanner {
        flex-direction: column;
    }
}

@media screen and (max-width: 815px) {
    .contenedorFondo {
        .textoFondo {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 420px) {
    .contenedorFondo {
        .textoFondo {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 1090px) {
    .contenedorForm {
        width: 100%; 
        margin-right: 0; 
        }

    .contenedorSeccion {
        flex-direction: column; 
    }

    .contenedorMapa {
        width: 100%; 
        height: 300px;
        max-width: 100%;
        overflow: hidden;
        margin: auto;
    }
}


@media screen and (max-width: 1246px) {
    .imagenSeccionCaja {
        margin-top: 50px;
    }
}

@media screen and (max-width: 1039px) {
    .imagenSeccionCaja {
        margin-top: 100px;
    }
}

@media screen and (max-width: 846px) {
    .imagenSecciones {
        grid-template-columns: 1fr;
        margin: 0;
    }
}

@media screen and (max-width: 846px) {
    .parrafoSobreNosotros {
        display: none;
    }
}

@media screen and (max-width: 403px) {
    .imagenSeccion {
        width: 300px;
    }
}

@media screen and (max-width: 730px) {
    .contenedorCatalogo {
        .imgBannerCatalogo {
            display: none;
        }
        .parrafoCatalogo {
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .contenedorInfo {
        width: 300px;
    }

    .imgModelo {
        width: 600px;
    }
}

@media screen and (max-width: 730px) {
    .contenedorPrincipal {
        flex-direction: column;
        margin-right: 0;
    }

    .contenedorInfo {
        place-items: center;
        margin: 0;
        align-items: center;
        text-align: center;
        
    }

    .imgDuki {
        width: 400px;
        margin: 15px;
    }
}

@media screen and (max-width: 1100px) {
    .imgMaria {
        max-width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 730px) {
    .imgMaria {
        max-width: 400px;
        margin: 15px;
    }
}


@media screen and (max-width: 730px) {
    .contenedorPrincipal2 {
        flex-direction: column;
        text-align: right;
    }

    .contenedorInfo2 {
        place-items: center;
        margin: 0;
        align-items: center;
        text-align: center;
        
    }
}

@media screen and (max-width: 1100px) {
    .contenedorInfo3 {
        width: 300px;
    }
}

@media screen and (max-width: 730px) {
    .contenedorPirncipal3 {
        flex-direction: column;
    }

    .contenedorInfo3 {
        place-items: center;
        margin: 0;
        align-items: center;
        text-align: center;
        
    }

    .imgLit {
        width: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .imgCazzu {
        max-width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 730px) {
    .imgCazzu {
        max-width: 300px;
        height: 300px;
        margin: 15px;
    }

    .contenedorInfo2 {
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .contenedorSeccionArtistas {
        flex-direction: column;
        text-align: center;
    }

    .contenedorInfo {
        place-items: center;
        margin: 0;
        align-items: center;
        text-align: center;
        
    }

    .contenedorPrincipal {
        margin-right: 0;
    }
}

@media screen and (max-width: 500px) {
    .imgMaria {
        width: 300px;
    }

    .imgDuki{
        width: 300px;
    }

    .imgCazzu {
        width: 300px;
    }
    .imgLit {
        width: 300px;
    }
}














